.Featured_Section_container{
    width: 100vw;
    height: fit-content;
    box-sizing: border-box;
    padding: 1rem 1rem 0rem 1rem;
    position: relative;
}

.Featured_Section_container .main_container{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 1;
    overflow: hidden;
}

.Featured_Section_container h1{
    font-size:4rem;
    line-height: 1;
}
.why_info_container h1{
    font-size:4rem;
    line-height: 1;
}
.Featured_Section_container .featured_Head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.featured_slider_container{
    width: 100%;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.featured_Head .featured_companies{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    animation: logo_anim linear 10s infinite alternate;
}

@keyframes logo_anim {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

.featured_companies img{
    width: 10rem;
    height: auto;
}


/* featured information container */

.featured_info_container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.featured_info p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    width:85%;
}
.featured_info_container div{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.featured_info_container .featured_img img{
    width: 55%;
    height: auto;
}

@media (max-width:690px) {
    .featured_info_container .featured_img img{
        width: 70%;
        height: auto;
    }
    
}



.why_info_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.why_info{
width: 100%;
}


.why_info li{
    line-height:1;
    width:100%;
}
.why_info li p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.3;
    text-align: start;
    width:100%;
    margin-bottom: 1rem;
}

.why_info strong{
    font-size: 1.5rem;
    font-family: "Comic Neue", cursive;
    font-style: normal;
    background: linear-gradient(90deg, rgb(255, 77, 0) 1%, rgb(253, 161, 49) 60%);
    background-size: contain;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}




/* meme section style */

.meme_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    position: relative;
}

.meme_img{
   animation-name: meme_img_anim;
   animation-duration: 6s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-direction:alternate-reverse;
}

@keyframes meme_img_anim {
    0%{
        scale:0.9;
        /* rotate:-5deg; */
    }
    100%{
        scale: 1.03;
        /* rotate: 5deg; */
    }
}
.meme_container .meme_cat_img{
    position: absolute;
    bottom: 0%;
    z-index: -1;
    width: 90%;
}

.meme_container::before{
    content: " ";
    width: 100%;
    height: 101%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow:inset 0 -180px 100px -10px rgb(0, 0, 0);
    z-index: 10;
}




/*  background color dots animation */
/* 
.bg_color_element{
    position: absolute;
    width: 0.1%;
    height: 0.1%;
    z-index:-1;
    
}

#bg_dot1{
    box-shadow: 0 59px 300px 45px #0e378ab0 ,0 -57px 300px 45px #0e378ab0;
    top: 20%;
    left:1%;
}

#bg_dot2{
    box-shadow:0 59px 600px 85px #9b45363a ,0 -57px 600px 85px #9b45363a;
    top: 30%;
    left: 50%;
}

#bg_dot3{
    box-shadow: 0 59px 400px 45px #ed4fc07b ,-50px -57px 400px 45px #ed4fc07d;
    top: 25%;
    left: 95%;
} */


@media (max-width:1000px) {
    .meme_container::before{
        /* content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow:inset 0 -180px 100px -10px rgb(0, 0, 0);
        z-index: 10; */
        box-shadow:inset 0 -100px 100px -10px rgb(0, 0, 0);

    }
}


/* mobile responsive */

@media (max-width:480px) {
    
    .Featured_Section_container{
       padding: 0.5rem;
       padding-bottom: 0rem;
    }
    
    .Featured_Section_container h1{
        font-size:2.5rem;
    }

    .why_info_container h1{
        font-size:2.5rem;
    }

    .why_info_container{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .featured_Head .featured_companies{
        gap: 2rem;
        animation: logo_anim_2 linear 7s infinite alternate;

    }
    
    @keyframes logo_anim_2 {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }
    .featured_companies img{
        width: 7rem;
    }
    

    /* featured information container */
    
    .featured_info_container{
        width: 100%;
        flex-direction:column;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    .featured_info_container div{
        width: 100%;
    }
    
    .featured_info p{
        width:100%;
        font-size: 1rem;
        margin-bottom:1.5rem;
    }

    .why_info li p{
        font-size: 1rem;
       
    }

    .featured_info_container .featured_img img{
        width: 50%;
        height: auto;
    }
    
    
    /* meme section style */

    .meme_container::before{
        box-shadow:inset 0 -100px 50px -50px rgb(0, 0, 0);
    }

    .featured_slider_container{
        width: 100%;
        overflow: hidden;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
} 
